<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Games</title>
  <link rel="stylesheet" href="/client.css">
  <script src="/vendor.js"></script>
  <script src="/client.js"></script>
  <script>require('client/pictionary/initialize-player');</script>
</head>
<body>
<section id="game-container" class="game-container">
<section id="drawing-container" class="drawing-container">
<svg id="draw-target"
     class="drawing-canvas"
     width="400"
     height="400"
     viewbox="0 0 400 400"
     xmlns="http://www.w3.org/2000/svg"><g id="transform-host"></g></svg>
</section>
<section class="sidebar-menu hidden" id="sidebar-menu">
<section class="overlay" id="sidebar-menu-overlay"></section>
<nav class="drawer" id="navigation-menu">
  <button class="toggle-menu-button" id="toggle-menu">
    <em class="bar"/></em>
    <em class="bar"/></em>
  </button>
  <button class="tool-button toggle-fullscreen-button" id="toggle-fullscreen">
    <section class="start-fullscreen">{{{icon_start_fullscreen}}}<span>Enable Fullscreen</span></section>
    <section class="stop-fullscreen">{{{icon_stop_fullscreen}}}<span> Disable Fullscreen</span></section>
  </button>
  <button class="tool-button" id="clear-canvas">{{{icon_clear_canvas}}}<span>Clear Canvas</span></button>
  <button class="tool-button" id="center-canvas">{{{icon_center_canvas}}}<span>Center Canvas</span></button>
  <a class="tool-button" id="save-canvas">{{{icon_save_canvas}}}<span>Save Canvas</span></a>
</nav>
</section>
<nav class="pictionary-tools">
  <button class="tool-button" tool-id='pen_tool'>{{{icon_pen}}}</button>
  <button class="tool-button" tool-id='canvas_panning_tool'>{{{icon_pan}}}</button>
  <button class="tool-button" id='undo-stroke'>{{{icon_undo}}}</button>
</nav>
</body>
</html>
